@page "/"
@using BandNameGenerator.Genres

<h1>Band Name Generator</h1>

<label for="genres">Choose a genre:</label>

<div class="margin-top-large">
    <select name="genres" id="genres" @bind=viewModel.SelectedGenre>
        @foreach (var genre in Enum.GetNames(typeof(ViewModel.GenreID)))
        {
            <option id=@genre>@genre</option>
        }
    </select>
</div>

<div>
    <button class="btn btn-primary" @onclick=GenerateBandName>Generate Band Name</button>
</div>

<div class="margin-top-large">@viewModel.BandName</div>


@code {
    public Generator()
    {
        viewModel = new ViewModel();
    }

    private ViewModel viewModel;

    private void GenerateBandName()
    {
        viewModel.GenerateName();
    }
}
