@page "/"

<h1>Band Name Generator</h1>

<label for="genres">Choose a genre:</label>
<br />
<select name="genres" id="genres">
    @foreach (var genre in (Genre[])Enum.GetValues(typeof(Genre)))
    {
        <option id=@genre>@genre</option>
    }
</select>
<div>
    <button class="margin-top-bottom-medium" @onclick="GenerateBandName">Generate Band Name</button>
</div>
<div>@bandName</div>


@code {
    private enum Genre
    {
        Metal,
        Country,
        Folk
    }

    private string bandName;

    private Genre selectedGenre { get; set; } = Genre.Metal;

    private void GenerateBandName()
    {
        bandName = "Best band name evah";
    }
}
