@page "/"

<h1>Band Name Generator</h1>

<label for="genres">Choose a genre:</label>

<div>
    <select name="genres" id="genres" @bind=SelectedGenre>
        @foreach (var genre in Enum.GetNames(typeof(Genre)))
        {
            <option id=@genre>@genre</option>
        }
    </select>
</div>

<div>
    <button class="btn btn-primary" @onclick="GenerateBandName">Generate Band Name</button>
</div>

<div class="margin-top-large">@bandName</div>


@code {
    private enum Genre
    {
        Metal,
        Country,
        Folk
    }

    private string bandName;

    private Genre selectedGenre { get; set; } = Genre.Metal;

    private Genre SelectedGenre
    {
        get
        {
            return selectedGenre;
        }
        set
        {
            selectedGenre = value;
            bandName = "";
        }
    }

    private void GenerateBandName()
    {
        bandName = "Best band name evah";
    }
}
